#main{
    padding: 10px;
    background: url(image/1616676231_1-p-sero-chernii-fon-1.jpg);
    margin: 100px 150px 0px 150px;
}
body{
    color: aquamarine;
    background: url(image/1614624765_2-p-fon-lesa-dlya-fotoshopa-2.jpg);
}
#trg{
    margin: 50px 100px 50px 100px;
    padding: 0px 150px 530px 150px;
    background: url(image/ij1phea-N8g.jpg);
}
#main a{
    text-decoration: none;
    color: red;
}
h2{
    text-align: center;
}
